<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Provide modal texts when in Checkout -->
    <type name="Magento\Checkout\Model\DefaultConfigProvider">
        <plugin name="login_step_checkout_config" type="Team23\LoginStep\Plugin\CheckoutConfigProvider" />
    </type>
</config>
